@charset "UTF-8";
 body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }
    .container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .card {
        padding: 20px;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        background-color: #11559C !important;
        color: white !important;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
    .card-body {
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .user-details {
        flex: 1;
    }
    .avatar {
        flex: 0 0 150px;
        text-align: center;
    }
    .avatar img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .user-detail {
        margin-bottom: 15px;
    }
    .user-detail label {
        font-weight: bold;
        color: #11559C;
    }