.big-container{
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#232aab 0.5px, #e5e5f7 0.5px);
	background-size: 10px 10px;
	padding:40px;
}
.container {
	width: 80%; /* Largeur du formulaire */
	max-width: 600px; /* Largeur maximale */
	padding: 20px; /* Espacement intï¿½rieur */
	border-radius: 8px; /* Bord arrondi */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
	background-color: #FFFFFF;
}
 
.card-body {
	background-color: #11559C; /* Couleur de fond */
}
 
.custom-btn {
	background-color: #11559C; /* Couleur de fond */
	border-color: #11559C; /* Couleur de bord */
	color: #ffffff; /* Couleur du texte */
}
 
.password-adverstising{
	background-color:#bae7e9;
	width:600px;
	margin-left:15px;
	margin-right:15px;	
	padding:10px;
	color:#8faab0;
}
.inscrire-container{
display:flex;
flex-direction:row;
justify-content:center
}