 .chart-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
        flex-wrap: wrap;
    }
    canvas {
        box-sizing: border-box;
        padding: 10px;
    }
    .spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid;
   border-color: #dbdcef;
   border-right-color: #11559c;
   animation: spinner-d3wgkg 1s infinite linear;
	}
	
	@keyframes spinner-d3wgkg {
	   to {
	      transform: rotate(1turn);
	   }
	}