.container{
    background-color:#FFFFFF;
    width: 500px !important;
    padding: 10px;
    border-radius: 8px;
    margin-top:100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
}
.card-body{
   background-color: #11559C;
}
.custom-btn {
    background-color: #11559C;
    border-color: #11559C;
    color: #ffffff;
}
body {
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#232aab 0.5px, #e5e5f7 0.5px);
	background-size: 10px 10px;
}
.section-container{
	height:600px;
}