 body {
    background-image: url('../../Pics/photoPublication.jpg');
    background-size: cover; /* Ajuste l'image pour couvrir tout l'arrière-plan */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans l'arrière-plan */
}
    .container{
     background-color: #ffffff;
       opacity: 0.8;
        background-image: linear-gradient(#444cf7 1px, transparent 1px),
            linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
            height:100vh;
            width:100vw;
    }