body {
	background-color: #f0f2f5;
	
}
 
.card {
	margin-bottom: 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #00000000;
}
 
.card-img-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #00000000;
}
 
.card-body {
	padding: 25px;
    background-color: rgba(255, 255, 255, 0.5);}
 
.card-title {
	font-weight: bold;
	background-color: #00000000;
}

.overlay {
	display: none;
	position: fixed;
	top:70px;
	left: -100%;
	width: 30%;
	height: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	/* Utilisation de rgba pour spécifier la couleur avec une transparence */
	transition: left 0.5s ease;
}
 
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
 
#background-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -1; /* Assurez-vous que la vidéo reste en arrière-plan */
}

