.container{
    margin-top:40px;
    background-color:#FFFFFF ;
    width: 500px !important; /* Largeur maximale */
    
    padding: 10px; /* Espacement intérieur */
    border-radius: 8px; /* Bord arrondi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
    height: 450px    
  }
.card-body{
   background-color: #11559C; /* Couleur de fond */
}
 
.custom-btn {
    background-color: #11559C; /* Couleur de fond */
    border-color: #11559C; /* Couleur de bord */
    color: #ffffff; /* Couleur du texte */
}
body {
	
}
.big-container{
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#232aab 0.5px, #e5e5f7 0.5px);
	background-size: 10px 10px;
	height:700px;
	padding-top:50px;     
}