.content {
	padding: 20px;
	/* Ajoutez de l'espace pour éviter que le contenu ne soit caché par la vidéo */
	color: white;
	/* Changez la couleur du texte pour qu'elle soit visible sur la vidéo */
}


.like-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #ff4757;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  width:70px !important;
  margin-right:20px;
}

.like-buttons {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff !important;
  background-color: #ff4757;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  width:150px !important;
}
.like-buttons a{
	  color: #ffffff !important;
	  margin-left:10px;

}

.like-button:hover {
  background-color: #e84118;
}

.heart-icon {
  width: 24px;
  height: 24px;
  fill: white;
  margin-right: 8px;
}
 
  .overlays {
      display: none;
      position:fixed;
      top: 90px;
      left: 1300px;
      width: 100%;
	  height:100%;
      background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
      z-index: 9999; /* Assure que l'overlay est au-dessus de tout le contenu */
      transition: transform 0.5s ease; /* Transition pour l'animation */
    }

    .overlays-content {
      position: absolute;
      top: 0;
      right: 0;
      width:100%; /* Largeur de la page transparente */
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5); /* Fond de la page transparente */
      /* Ajoutez ici vos styles personnalisés pour la mise en forme du contenu de la page transparente */
    }

    .overlays.active {
  display: block;
  transform: translateX(0); /* Déplacement de la droite vers la gauche */
}

.messageBox {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
}
.messageBox:focus-within {
  border: 1px solid rgb(255, 255, 255);
}
.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}
.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fileUploadWrapper label svg {
  height: 18px;
}
.fileUploadWrapper label svg path {
  transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
  stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
  stroke: #fff;
  fill: #3c3c3c;
}
.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 1;
}
.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #ffff;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}
#messageInput {
  width: 490px;
  height: 100%;
  color:black;
  outline: none;
  border: none;
  padding-left: 10px;
  
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}
