.container{
    width: 100%; /* Largeur du formulaire */
    background-color:#FFFFFF ;
    max-width: 700px; /* Largeur maximale */
    padding: 10px; /* Espacement intérieur */
    border-radius: 8px; /* Bord arrondi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
    height: 450px
  }
.card-body{
   background-color: #11559C; /* Couleur de fond */
}
 
.custom-btn {
    background-color: #11559C; /* Couleur de fond */
    border-color: #11559C; /* Couleur de bord */
    color: #ffffff; /* Couleur du texte */
}
body {
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#232aab 0.5px, #e5e5f7 0.5px);
	background-size: 10px 10px;
}