.container {
	background-color: black;
	width: 500px !important; /* Largeur maximale */
	margin-top:100px;
	padding: 10px; /* Espacement intérieur */
	border-radius: 8px; /* Bord arrondi */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
	height: 300px
	
}
 
.card-body {
	background-color: #11559C; /* Couleur de fond */
}
 
.custom-btn {
	background-color: #11559C; /* Couleur de fond */
	border-color: #11559C; /* Couleur de bord */
	color: #ffffff; /* Couleur du texte */
}
 
body {
	background-color: #e5e5f7;
	opacity: 0.8;
	background-image: radial-gradient(#232aab 0.5px, #e5e5f7 0.5px);
	background-size: 10px 10px;
}
 
.password{
display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 
}
.input {
  max-width: 190px;
  width: 40px;
  height: 40px;
  outline: none;
  margin: 5px;
  transition: .5s;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: rotate(90deg);
}
 
input:focus {
  width: 150px;
  transform: rotate(0);
}
 
.text{
  color:white;
 
}

.section-container{
	
	height:600px;
}