/* Styles de la navbar */
.navbar {
    background-color: #11559C; /* Bleu de l'en-tête */
    color: #ffffff;
    padding:10px;
    min-height: 50px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-link1, .navbar-link2 {
    display: flex;
    align-items: center;
}

.navbar-link1 {
    justify-content: flex-start;
}

.navbar-link2 {
    justify-content: flex-end;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    padding: 10px;
    font-weight:bold;
    transition: background-color 0.3s ease;
}
.navbar span{
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    padding: 10px;
    font-size:20px;
    font-weight:bold;
    transition: background-color 0.3s ease;
}
.navbar a:hover,
.navbar a:focus {
    background-color: #ffffff;
    color: #002F6C;
    border-radius: 5px;
}

/* Responsive design pour les petits écrans */
@media (max-width: 600px) {
    .navbar-links {
        flex-direction: column;
    }

    .navbar a {
        width: 100%;
        margin: 5px 0;	
    }
}

/*Style du footer*/
.footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px; 
  font-size: 0.8em;
  width:100vw;
}

.footer div {
  margin: 0 20px;
 }

.footer div ul {
  list-style-type: none;
  padding: 0;
}

.footer div ul li {
  margin-bottom: 10px;
}

/*Style de la dropdown*/

/* Style pour le select */
.dropdown select {
  width: 100%;              /* Ensure select fills container */
  padding: 8px 12px;        /* Adequate padding for usability */
  font-size: 16px;          /* Readable font size */
  border: 1px solid #ccc;   /* Subtle, refined border styling */
  border-radius: 4px;       /* Rounded corners for a modern look */
  box-shadow: 0 2px 5px rgba(0,0,0,0.05); /* Light shadow for depth */
  background-color: white;  /* White background */
  color: #333;              /* Dark grey text for high contrast */
  margin-top: 5px;          /* Space from label or previous content */
  cursor: pointer;          /* Pointer to indicate it's selectable */
}

/* Focus style for select */
.dropdown select:focus {
  border-color: #11559C;    /* Highlight focus with a blue border */
  outline: none;            /* Remove default focus outline */
}

/* Style for the label associated with select */
.dropdown label {
  display: block;           /* Block display to enforce new line */
  font-weight: bold;        /* Bold label text */
  margin-bottom: 5px;       /* Space between label and select box */
  color: #333;              /* Dark grey text for visibility */
}

/*Style de la search bar*/
.search-box{
	background-color: #4B4B4B;
	display:flex;
	flex-direction:row;
    justify-content: space-between;
    height:140px;
    padding:20px;
    
}
.search-box label{
	color:white;
}
.search-bar{
  width: 50%;
  display: flex;
  flex-direction:row; 
  margin-top:20px;
}

.search-input {
  width: 100%;
  border: 3px solid #11559C;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchButton {
  width: 200px;
  height: 50px;
  border: 1px solid #11559C;
  background: #11559C;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Style du tableau des fédérations par commune*/
.table-federation-commune {
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px 0;
        margin: 20px 0;
    }

.table-federation-commune th {
        background-color: #11559C;
        color: white;
        padding: 10px;
        text-align: left;
    }

.table-federation-commune td {
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
    }
.link-button {
    background: none;
    color: #11559C;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline; 
}
.link-button:hover, .link-button:focus {
    text-decoration: none;
}
    
 /*Style de la pagination*/
 .pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #f4f4f4;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Responsive touch */
@media screen and (max-width: 600px) {
    .pagination a {
        padding: 8px 12px; 
    }
}
.dataDisplayer {
	margin-left:20px;
    border-collapse: collapse; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #333; 
  
}

.dataDisplayer td, .dataDisplayer th {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
}

.dataDisplayer tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.dataDisplayer tr:hover {
    background-color: #ddd;
}

.dataDisplayer th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
.classMap{
	width:700px;
	height:650px;
}
.map-container{
        display:flex;
        justify-content:center;
        align-items:center;
        }
.form-container{
        
        }
.middle-nav-link{
		background: none;
}
.middle-nav-link:hover {
		    text-decoration: underlined; 	
}

  /* Custom popup style */
    .custom-popup {
        background-color: #11559C !important;
        color: white !important;
    }
 
    /* Adjust dropdown menu position */
    .navbar-links .dropdown-menu {
        left: -50px !important;
    }
 
    /* Style for popup text */
    .popup-text {
        color: #002F6C;
    }
 
    /* Ensure the dropdown items also have the desired color */
    .dropdown-menu a {
        color: #002F6C !important;
    }
 
    .dropdown-menu a:hover,
    .dropdown-menu a:focus {
        background-color: #ffffff;
        color: #002F6C !important;
        border-radius: 5px;
    }
    .pagination-container {
	display: flex;
	justify-content: center
}