
/* Reset de base pour éviter les inconsistences entre navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
}
.sub-part-navbar{
	background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#11559C 0.8500000000000001px, #e5e5f7 0.8500000000000001px);
    background-size: 17px 17px;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:10px;
}
.sub-part-navbar h1,	
.sub-part-navbar p{
	margin-left: 40px;
	font-weight:bold;
	font-size:30px;
	color: #11559C;
}
.sub-part-navbar-bottom-side{
    background-color: #1E1E1E;
    color: #ffffff;
    height: 40px;
    width: 250px;
    display:flex;
    align-items:center;
 }
 .sub-part-navbar-bottom-side p{
     color: #ffffff;
     font-size:15px;
 }
 
.submit-group{
	display:flex;
	flex-direction:column;
}

.submitButton {
  width: 200px;
  height: 50px;
  border: 1px solid #11559C;
  background: #11559C;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.mapLink {
    color: white;
    font-weight:bold;
    margin-top: 20px; 
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: underline;
    transition: background-color 0.3s, color 0.3s;
}

.mapButton:hover {
    background-color: white;
    color: #4B4B4B;
}
.back-button {
	margin:20px;
    background-color: #11559C;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

.back-button:hover {
    background-color: #0e4c75;
}
.diagramsdisplayer{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.dataVisualisationPage{
	display:flex;
	flex-direction:row;
	padding:20px;
}
.datadisplayer{
	display:flex;
	flex-direction:column;
	margin-right:30px;
	margin-top:20px;
}
.licenseRepartitionGraph{
	margin-bottom:20px;
	
}
.statsIndicatorDiagram{
	margin-bottom:20px;
}
.federation-map{
	display:flex;
	flex-direction:column;
	margin-right:30px;
	margin-top:20px;
	
}

.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid;
   border-color: #dbdcef;
   border-right-color: #11559c;
   animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
   to {
      transform: rotate(1turn);
   }
}

body {
	background-color: #f0f2f5;
}
 
.card {
	margin-bottom: 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.card-img-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
 
.card-body {
	padding: 25px;
}
 
.card-title {
	font-weight: bold;
}
.overlay {
    display: none;
    position: fixed;
    left: -100%;
    width: 30%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Utilisation de rgba pour spécifier la couleur avec une transparence */
    transition: left 0.5s ease;
}
 
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.section-container{
	height:700px;
}